body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 120px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  color: #000000;
  border-bottom: 2px dashed #000000;
  border-left: 2px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: rgb(135, 135, 135);
}

.present {
  background-color: #ddb34a;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
